// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #FBFBFC;


$background-gray: #FBFBFC;
$baby-blue: #ecf8f2;
$teal: #9ddfd3;
$dark-purple: #31326f;
$gold: #ffc93c;