<div class="container">
  <h3>Cancel a booking</h3>
  <br>
  <%= simple_form_for(@booking) do |f| %>
    <%= f.input :status, inline_label: 'Cancel Booking'%>
    <%= f.submit "Submit", class: "btn btn-confirm", data: { target: "#confirm-modal", toggle: "modal", dismiss: "modal" }%>
  <% end %>
</div>