<% cancelledbookings = [] %>
<% current_user.bookings.each do |booking| %>
  <% if booking.status == false %>
    <% cancelledbookings << booking.date %>
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1482245294234-b3f2f8d5f1a4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1130&q=80" />
      <div class="card-trip-infos">
        <div>
          <h2><%= booking.activity.name%></h2>
          <p><%= booking.activity.description %></p>
        </div>
        <h2 class="card-trip-pricing"><%= booking.activity.price %>$</h2>
      </div>
    </div>
    <br>
  <% end %>
<% end %>
<% if cancelledbookings.length == 0%>
  <h5>You didn't cancel any reservations yet</h5>
  <h6>All cancelled reservations will be shown here.</h6>
  <br>
  <%= link_to 'Start exploring!', activities_path, class: "btn-simple" %>
<% end %>
