<div class="about_us my-3">
    <br><br>
    <h3 class="text-center">ABOUT US</h3>
    <h6 class="text-center my-3">Meet Our Team</h6>
    <div class="container team-container">

        <div class="card-product team-card">
          <img src="https://res.cloudinary.com/dtzcmox0y/image/upload/v1623232239/20210502_231301_h1gzsn.jpg" alt="">
          <div class="card-product-infos">
            <h2>Francesca Fenu</h2>
            <p><em>developer</em></p>
            <p>description loremLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
          </div>
        </div>

        <div class="card-product team-card">
          <img src="https://res.cloudinary.com/dtzcmox0y/image/upload/v1623231673/IMG_20200601_112010_igylux.jpg" alt="">
          <div class="card-product-infos">
            <h2>Xueying Hou</h2>
            <p><em>developer</em></p>
            <p>description loremLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
          </div>
        </div>

           <div class="card-product team-card">
          <img src="https://res.cloudinary.com/dtzcmox0y/image/upload/v1623236800/Image_from_iOS_q8rh2u.jpg" alt="">
          <div class="card-product-infos">
            <h2>Lucas Laurencich</h2>
            <p><em>developer</em></p>
            <p>description loremLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
          </div>
        </div>

        <div class="card-product team-card">
          <img src="https://res.cloudinary.com/dtzcmox0y/image/upload/v1623236817/IMG_6257_fs2wch.jpg" alt="">
          <div class="card-product-infos">
            <h2>Daniel Watts</h2>
            <p><em>developer</em></p>
            <p>description loremLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
          </div>
        </div>

    </div>
      <br><br>
      <div class="container">
      <p>
        The Cultural Connections Club is a new way to find and support cultural organizations in your area.
        Our aim is to deliver <strong>fast easy</strong> and, <strong>convient</strong> service that combines <strong>unique interesting</strong> and, <strong>memorable</strong> experiences for all people.
        <br><br>
        Find and explore cultural institutions in your city
        <br>
        Get to know unique cultures and places
        <br>
        Connect to and support local institutions
        <br><br>
        As our team is all culture-fascinated, we want to spread the uniqueness and charms from all kinds of cultures to the people with the same mind!
      </p>
      <br>
      <p>Contact Us</p>
      <p>E-mail: info@cultural-connection.club</p>
      <div>
        <%= link_to 'Home', root_path %>
      </div>
  </div>

