<div class="banner text-center">
   <div class="container">
     <h1 class="text-center">Welcome to Cultural Connections</h1>
     <p>Culture | History | People</p>
   </div>
  <div class="container text-center">
    <%= form_tag activities_path, method: :get do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Enter a location or keyword",
              style: "border-radius: 10px"
             %>
             <%= submit_tag("Search", :class => "btn-dashboard my-3", :style => "width:100px;") %>

        <% end %>
  </div>
</div>
<br>
<div class="container text-center">
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="text-center">
    <h2>Why Cultural Connections</h2>
    <br>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.portal.muenchen.de/000/000/219/203/versions/rathausgalerie-750x310.jpg" width="850" height="450">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="card-title">Discover cultural institutions</h2>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/Museumsinsel_M%C3%BCnchen.jpg" class="jpg" alt="" width="850" height="450">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="card-title">Feel the culture</h2>
      </div>
    </div>
      <div class="carousel-item">
      <img src="https://www.charivari.de/assets/Uploads/Deutsches-Museeum-Muenchen-oeffnet-wieder2.jpg" alt="" width="850" height="450" title="Museen in München öffnen wieder">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="card-title">Connect to local people</h2>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
</div>
