.team-card img {
 width: 130px;
 height: 100%;
 flex-shrink: 0;
 border-radius: 10px;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
}

.team-card {
  height: 140px;
  border-radius: 10px;
}


.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
