.index-card-product {
  overflow: hidden;
  height: 200px;
  min-width: 300px;
  background: $baby-blue;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  hr {
    margin: 10px 0px 15px 0px;
  }
}

.index-card-product img {
  height: 100%; 
  width: 25%;
  object-fit: cover;
  border-radius: 5px 0px 0px 5px;
}

.index-card-product .index-card-product-infos {
  padding: 16px;
  width: 100%;
}

.index-card-grid {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-gap: 4px;
}

.index-card-product{
  text-decoration: none;
  color: black; 
  &:hover{
    text-decoration: none;
    color: black; 
  }
}


