.navbar-lewagon {
  justify-content: space-between;
  background: $baby-blue;
  .far {
    font-size: 20px !important;
    padding-bottom: 0px !important;
  }
  .fas {
    font-size: 20px !important;
    padding-bottom: 0px !important;
  }
  .avatar {
    margin-left: 5px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 225px;
  &:hover {
    opacity: 0.8;
  }
}

.nav-link {
  font-size: 18px;
  font-weight: 700;
  margin: 0px 3px 0px;
  padding: 10px 8px 8px 8px;
  color: $dark-purple !important;
  &:hover {
    opacity: 0.8;
  }
}

.badge {
  background-color: $dark-purple !important;
  font-size: 20px !important;
  margin: 6px 16px 0px;
}
