<img class="popupImg" src="https://images.unsplash.com/photo-1603823529430-2cf7e72d13fd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8bXVzZXVtJTIwb2YlMjBhY3JvcG9saXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Girl in a jacket">
<h3><%= activity.name %></h3>
<hr>
<p><i class="fas fa-compass"></i> <strong><%= activity.address %></strong></p>
<div class="d-flex justify-content-between align-items-center">
<p><strong>Duration</strong> <i class="fas fa-clock"></i> <%= activity.duration %> hrs</p>
<p><strong>Price</strong> <i class="fas fa-dollar-sign"></i> <%= activity.price %></p>
</div>